<ul>
  <li><a href="/">Início</a></li>
  <li><a href="/about-me">Sobre mim</a></li>
  <li><a href="/contact">Contato</a></li>
  <li><a href="/histories">Relatos</a></li>
  <li><a href="#">Marcar consulta</a></li>
  <li><a href="/terms">Termos</a></li>
</ul>
