---
interface Props {
  class?: string;
}
const { class: className, ...rest } = Astro.props;
---

<ul class={className} {...rest}>
  <li><a href="/">Início</a></li>
  <li><a href="/histories">Relatos</a></li>
  <li><a href="/contact">Contato</a></li>
  <slot/>
</ul>

<style>
  ul, li, a {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
  }
</style>
