---
import { Icon } from '../components';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Início">
  <main>
    <h1>Início</h1>

    <Icon class="icon-favorite">favorite</Icon>

    <p>Este é o conteúdo da página inicial.</p>

    <section>
      <img
        src="https://images.unsplash.com/photo-1728972950043-5102720cf63c?q=80&w=2071&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
        alt="Imagem do unsplash"
      />
    </section>

    <section>
      <img
        src="https://images.unsplash.com/photo-1728929785870-87f654d53ac4?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
        alt="Imagem do unsplash"
      />
    </section>
  </main>
</Layout>

<style>
  .icon-favorite {
    color: red;
  }

  section {
    padding: 24px;
  }
</style>
