---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Termos">
  <main>
    <h1>Termos</h1>

		<ull>
			<li><a href="#use-terms">Termos de uso</a></li>
			<li><a href="#privacity-terms">Termos de privacidade</a></li>
		</ull>

    <section id="use-terms">
      <h2>Termos de uso</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam, ex fugiat cum impedit repudiandae
        exercitationem, vel aut maiores veritatis dolorum perspiciatis alias amet obcaecati? Ratione assumenda accusamus
        a fugit impedit?
      </p>
    </section>

    <section id="privacity-terms">
      <h2>Termos de privacidade</h2>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Debitis, eveniet ipsam. Officiis qui architecto, unde
        fuga ullam, corporis ipsa, atque facilis dolor laudantium repellat. Error veritatis tempore porro molestiae
        culpa.
      </p>
    </section>

		<button>
			^
		</button>

  </main>
</Layout>
