---
import Menu from '../Menu/Menu.astro';
import ButtonToggle from './btnToggle';
---

<header class="header header--visible">
  <h1>Header</h1>
  <nav>
    <Menu class="header__menu" />
  </nav>

  <ButtonToggle client:visible />
</header>

<script>
  let lastScrollY = window.scrollY;

  const header = document.querySelector('.header');

  window.addEventListener('scroll', () => {
    const currentScrollY = window.scrollY;

    if (currentScrollY < lastScrollY) {
      header?.classList.add('header--visible');
    } else {
      header?.classList.remove('header--visible');
    }

    lastScrollY = currentScrollY;
  });
</script>

<style lang="scss">
  .header {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    padding: 16px 24px;
    height: 80px;
    background: var(--md-sys-color-primary-container);
    color: var(--md-sys-color-on-primary-container);
    position: sticky;
    top: -80px;
    left: 0;
    right: 0;
    transition: top 0.3s;
    z-index: var(--z-index-header);

    &--visible {
      top: 0;
    }

    &__menu {
      list-style: none;
      display: flex;
      align-items: center;
      gap: 12px;

      @include body-large;
    }
  }
</style>
