@mixin label {
  font-family: var(--font-nunito);
  font-weight: 600;
  font-size: var(--ns-sm);
  line-height: 1.25;
  letter-spacing: 0.5px;
}

@mixin body {
  font-family: var(--font-nunito);
  font-weight: 400;
  font-size: var(--ns-base);
  line-height: 1.5;
  letter-spacing: 0.4px;
}

@mixin title($size: 'md') {
  font-family: var(--font-nunito);
  font-weight: 600;
  line-height: 1.35;
  letter-spacing: 0.1px;

  @if $size == 'md' {
    font-size: var(--ns-md);
  }

  @if $size == 'lg' {
    font-size: var(--ns-lg);
  }
}

@mixin headline {
  font-family: var(--font-display);
  font-weight: 400;
  font-size: var(--display-lg);
  line-height: 1.25;
  letter-spacing: 0px;
}

@mixin display {
  font-family: var(--font-display);
  font-weight: 400;
  font-size: var(--display-xl);
  line-height: 1.25;
  letter-spacing: 0px;
}
