---
import { Facebook, Instagram, Whatsapp } from '../Icons';
import Menu from '../Menu/Menu.astro';
---

<footer class="mt-auto">
  <section class="footer__top">
    <nav>
      <h6>Mapa do site</h6>
      <Menu class="footer__menu">
        <li><a href="/about">Sobre mim</a></li>
      </Menu>
    </nav>
  </section>
  <section class="footer__bottom">
    <div class="icons-links">
      <a href="#"><Whatsapp class="icon-brand" /></a>
      <a href="#"><Facebook class="icon-brand" /></a>
      <a href="#"><Instagram class="icon-brand" /></a>
    </div>

    <p>Espaço AZ - ₢ 2024</p>

    <a href="/terms">Termos de uso e privacidade</a>
  </section>
</footer>

<style lang="scss">
  footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: var(--md-sys-color-surface-variant);
    color: var(--md-sys-color-on-surface-variant);
    gap: 52px;
    padding: 40px 24px;
  }

  section {
    width: 100%;
    max-width: 1400px;
    display: flex;
    justify-content: space-between;
    gap: 24px;
  }

  .footer__menu,
  nav {
    display: flex;
    list-style: none;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 6px;
  }

  h6 {
    @include body;
  }

  .footer__menu {
    @include label;
  }

  .footer__bottom {
    > a,
    p {
      @include label;
    }
  }

  .icon-brand {
    fill: var(--md-sys-color-on-surface-variant);
    width: var(--ns-lg);
    height: var(--ns-lg);
  }
</style>
