---
import '../styles/index.scss';
import { Header, Footer } from '../components/index';
import '@fontsource-variable/material-symbols-rounded';
import '@fontsource-variable/nunito-sans';
import '@fontsource-variable/gabarito';

type Props = { title: string };
const { title } = Astro.props;
---

<!doctype html>
<html lang="pt-BR" data-theme="light_mode">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <Header />
    <slot />
    <Footer />
  </body>
</html>

<style lang="scss">
  html {
    transition:
      background-color 0.3s,
      color 0.3s;
    background-color: var(--md-sys-color-surface);
    color: var(--md-sys-color-on-surface);
  }

  body {
    min-height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
</style>

<script>
  window.addEventListener('DOMContentLoaded', () => {
    const currentTheme = localStorage.getItem('theme') as
      | 'ligth_mode'
      | 'dark_mode'
      | null;

    if (currentTheme) {
      document.documentElement.dataset.theme = currentTheme;
    }
  });
</script>
